# Introduction

In [1]:
import pandas as pd
pd.options.display.max_columns = 99

In [5]:
first_five = pd.read_csv("loans_2007.csv", nrows=5)
first_five

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [9]:
first_1000 = pd.read_csv("loans_2007.csv", nrows=1000)
print(first_1000.memory_usage(deep=True))
memory_usage_mb = first_1000.memory_usage(deep=True).sum() / (1024 * 1024)
print("Total memory usage : %s Mb" % memory_usage_mb)

Index                            80
id                             8000
member_id                      8000
loan_amnt                      8000
funded_amnt                    8000
funded_amnt_inv                8000
term                          67000
int_rate                      64000
installment                    8000
grade                         66000
sub_grade                     59000
emp_title                     73464
emp_length                    64399
home_ownership                62237
annual_inc                     8000
verification_status           68351
issue_d                       65000
loan_status                   66985
pymnt_plan                    66000
purpose                       71313
title                         73411
zip_code                      62000
addr_state                    59000
dti                            8000
delinq_2yrs                    8000
earliest_cr_line              65000
inq_last_6mths                 8000
open_acc                       8000
pub_rec                        8000
revol_bal                      8000
revol_util                    61781
total_acc                      8000
initial_list_status           66000
out_prncp                      8000
out_prncp_inv                  8000
total_pymnt                    8000
total_pymnt_inv                8000
total_rec_prncp                8000
total_rec_int                  8000
total_rec_late_fee             8000
recoveries                     8000
collection_recovery_fee        8000
last_pymnt_d                  64967
last_pymnt_amnt                8000
last_credit_pull_d            65000
collections_12_mths_ex_med     8000
policy_code                    8000
application_type              67000
acc_now_delinq                 8000
chargeoff_within_12_mths       8000
delinq_amnt                    8000
pub_rec_bankruptcies           8000
tax_liens                      8000
dtype: int64
Total memory usage : 1.55066299438 Mb

For this exercice, we consider that we only have 10Mb of memory available.<br>
We want to keep the chunk size under 5Mb (50% safety margin)<br>
Let's try tripling to 3000 lines and calculate the memory footprint for each chunk

In [12]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)
for chunk in chunk_iter:
    print(chunk.memory_usage(deep=True).sum() / (1024 * 1024))

4.6512298584
4.64817810059
4.64966869354
4.65059375763
4.64692020416
4.64837551117
4.64736747742
4.64941596985
4.64743518829
4.64727210999
4.6598777771
4.6566619873
4.66349601746
4.89784526825
0.880808830261

A chunksize of 3000 lines seems to be a good choice

# Exploring the data in chunks

In [16]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)
for chunk in chunk_iter:
    print(chunk.dtypes.value_counts())

float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     21
int64       1
dtype: int64
float64    30
object     22
dtype: int64
float64    30
object     22
dtype: int64

### Observations
It seems like one column is being cast in the object type in the last 2 chunks and in a int64 for all the other chunks <br>
Let's find which column in concerned

In [25]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)

cols_obj = []
for chunk in chunk_iter:
    cols_obj_chunk = chunk.select_dtypes(include=["object"]).columns.tolist()
    if len(cols_obj) > 0:
        if cols_obj != cols_obj_chunk:
            print("Difference cols_obj_chunk comparing to cols_obj : %s" % (set(cols_obj_chunk) - set(cols_obj)))
    else:
        cols_obj = cols_obj_chunk

Difference cols_obj_chunk comparing to cols_obj : {'id'}
Difference cols_obj_chunk comparing to cols_obj : {'id'}

The "id" column is casted in object for the last 2 chunks and int64 for all the other chunks <br>
Since the id column won't be useful for analysis, visualization, or predictive modelling let's ignore this column.

# How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?

In [2]:
# For each chunk, add value_counts of string columns to count_values_str_col dict
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)

count_values_str_col = {}
for chunk in chunk_iter:
    str_values_chunk = chunk.select_dtypes(include=["object"])
    for col in str_values_chunk.columns:
        if col in count_values_str_col:
            count_values_str_col[col].append(str_values_chunk[col].value_counts())
        else:
            count_values_str_col[col] = [str_values_chunk[col].value_counts()]

In [3]:
combined_vcs = {}

for col in count_values_str_col:
    combined_vc = pd.concat(count_values_str_col[col])
    final_vc = combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col] = final_vc

In [7]:
for col in combined_vcs:
    count_unique_values = len(combined_vcs[col].unique())
    count_all_values = len(combined_vcs[col])
    if count_unique_values / count_all_values > 0.5:
        print(combined_vcs[col].name)

initial_list_status
emp_length
verification_status
last_credit_pull_d
issue_d
sub_grade
purpose
addr_state
last_pymnt_d
grade
home_ownership
loan_status
pymnt_plan
term
application_type

## Comments
The columns above contain values that are less than 50% unique

# Which float columns have no missing values and could be candidates for conversion to the integer type?

In [5]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)

float_col_null_count = []

for chunk in chunk_iter:
    float_col_null_count.append(chunk.select_dtypes(include=['float']).isnull().sum())
    
combined_vc = pd.concat(float_col_null_count)
final_vc = combined_vc.groupby(combined_vc.index).sum()

final_vc

acc_now_delinq                  32
annual_inc                       7
chargeoff_within_12_mths       148
collection_recovery_fee          3
collections_12_mths_ex_med     148
delinq_2yrs                     32
delinq_amnt                     32
dti                              3
funded_amnt                      3
funded_amnt_inv                  3
inq_last_6mths                  32
installment                      3
last_pymnt_amnt                  3
loan_amnt                        3
member_id                        3
open_acc                        32
out_prncp                        3
out_prncp_inv                    3
policy_code                      3
pub_rec                         32
pub_rec_bankruptcies          1368
recoveries                       3
revol_bal                        3
tax_liens                      108
total_acc                       32
total_pymnt                      3
total_pymnt_inv                  3
total_rec_int                    3
total_rec_late_fee               3
total_rec_prncp                  3
dtype: int64

### Comments
No column seems to have 0 missing values

# Calculate the total memory usage across all of the chunks

In [8]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000)

memory_usage = 0

for chunk in chunk_iter:
    memory_usage += chunk.memory_usage(deep=True).sum()
    
print("Total memory usage : %s Mb" % (memory_usage / (1024 * 1024)))

Total memory usage : 66.2451467514 Mb

# Optimizing String Columns
String columns are the more memory-consuming, we can achieve the greatest memory improvements by converting the string columns to a numeric type

### Converting strings that are less than 50% unique to categories. Let's focus on columns that would actually be useful for analysis and modelling.

In [8]:
useful_obj_cols = ['term', 'sub_grade', 'emp_title', 
                   'home_ownership', 'verification_status', 
                   'issue_d', 'purpose', 'earliest_cr_line', 
                   'revol_util', 'last_pymnt_d', 
                   'last_credit_pull_d']

In [9]:
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

### Convert term and revol_util to numerical by data cleaning.

### Convert issue_d, earliest_cr_line, last_pymnt_d, and last_credit_pull_d to datetime.

In [13]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000,
                         dtype=convert_col_dtypes, 
                         parse_dates=["issue_d", "earliest_cr_line",
                                      "last_pymnt_d", 
                                      "last_credit_pull_d"])

In [14]:
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)

In [17]:
chunk_iter = pd.read_csv("loans_2007.csv", chunksize=3000,
                         dtype=convert_col_dtypes, 
                         parse_dates=["issue_d", "earliest_cr_line",
                                      "last_pymnt_d", 
                                      "last_credit_pull_d"])

memory_usage = 0
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    memory_usage += chunk.memory_usage(deep=True).sum()
    
print("Total memory usage : %s Mb" % (memory_usage / (1024 * 1024)))

Total memory usage : 42.0610685349 Mb

## Comments
The total memory used by the dataframe is reduced by ~1/3